.heroBanner {
  padding: 6rem 0 2rem 0 !important;
  text-align: center;
  position: relative;
  overflow: hidden;

  .hero__title {
    font-size: 3rem !important;
  }

  .hero__title__highlight {
    background: -webkit-linear-gradient(0deg, #06b6d4 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.container {
  background-color: black;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem 0 1rem 0 !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
